<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683470386966-s1othjk71bhcl4uo8sugvdbsdt89qsu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683470386966-s1othjk71bhcl4uo8sugvdbsdt89qsu4</string>
	<key>API_KEY</key>
	<string>AIzaSyDehm3r0lnEGSu9sJcqnduYtkyp6nMek7I</string>
	<key>GCM_SENDER_ID</key>
	<string>683470386966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniloperez.firebase.firebase</string>
	<key>PROJECT_ID</key>
	<string>daniloperez-firebase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>daniloperez-firebase-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683470386966:ios:f3d3ba87de425f887d4237</string>
</dict>
</plist>